/* Til header */
.header {
    background-color: black;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header h3 a{
    color: white;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;

}

.header h3 a:hover {
    transition: color 0.3s ease;
    color: #477bff;
}



/* Til content på siden */
.page_picture {
    background-size: cover;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.div-project {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1 {
    font-family: 'Roboto', sans-serif;
}

video {
    width: 60%;
    height: auto;
}

.site_picture {
    width: 30%;
    border-radius: 10px;

}

.site-picture-project {
    width: 30%;
    border-radius: 10px;
}

.text-content {
    line-height: 1.6;
    max-width: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;

}

.button {
    background-color: #477bff;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.button:hover{
    background-color: #00a3ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




/* Til footer */
.footer {
    background-color: black;
    color: #fff;
    padding: 5rem 1rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: left;
}

.footer div {
    flex: 1; /* Gør, at hver boks fylder lige meget */
    max-width: 300px; /* Sæt en maks-bredde for at kontrollere tekstens layout */
}

.footer h3 a {
    color: white;
    font-size: 25px;
    margin-bottom: 5rem;
    text-decoration: none; /* Fjern understregning fra links */
    transition: color 0.3s ease; /* Glidende farveovergang */
}

.footer h3 a:hover {
    color: #477bff; /* Gør farven blå ved hover */
}


.footer p {
    line-height: 1.6; /* Gør teksten lettere at læse */
    margin-top: 1rem; /* Ekstra mellemrum mellem overskrift og tekst */
}


