/* Til header */
.header {
    background-color: black;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header h3 a{
    color: white;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;

}

.header h3 a:hover {
    transition: color 0.3s ease;
    color: #477bff;
}


/* Til slider */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #5372F0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;

}

.card-list .card-link .badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
}

/* Til content på siden */
.page_picture {
    background-size: cover;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.h1 {
    font-family: 'Roboto', sans-serif;
}

.container-slider {

}

video {
    width: 60%;
    height: auto;
}

.site_picture {
    width: 30%;
    border-radius: 10px;

}

.text-content {
    line-height: 1.6;
    max-width: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;

}

.button {
    background-color: #477bff;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.button:hover{
    background-color: #00a3ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}






/* Til footer */
.footer {
    background-color: black;
    color: #fff;
    padding: 5rem 1rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: left;
}

.footer div {
    flex: 1; /* Gør, at hver boks fylder lige meget */
    max-width: 300px; /* Sæt en maks-bredde for at kontrollere tekstens layout */
}

.footer h3 a {
    color: white;
    font-size: 25px;
    margin-bottom: 5rem;
    text-decoration: none; /* Fjern understregning fra links */
    transition: color 0.3s ease; /* Glidende farveovergang */
}

.footer h3 a:hover {
    color: #477bff; /* Gør farven blå ved hover */
}


.footer p {
    line-height: 1.6; /* Gør teksten lettere at læse */
    margin-top: 1rem; /* Ekstra mellemrum mellem overskrift og tekst */
}


