.header {
    background-color: black;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}


.footer {
    background-color: black;
    color: #fff;
    padding: 5rem 1rem; /* Ekstra luft rundt om footeren */
    display: flex; /* Flexbox for at placere elementerne horisontalt */
    justify-content: space-around; /* Ensartet afstand mellem boksene */
    gap: 2rem; /* Mellemrum mellem boksene */
    text-align: left; /* Juster teksten til venstre i hver boks */
}

.footer div {
    flex: 1; /* Gør, at hver boks fylder lige meget */
    max-width: 300px; /* Sæt en maks-bredde for at kontrollere tekstens layout */
}

.footer h3 a {
    color: white;
    font-size: 25px;
    margin-bottom: 5rem;
    text-decoration: none; /* Fjern understregning fra links */
    transition: color 0.3s ease; /* Glidende farveovergang */
}

.footer h3 a:hover {
    color: #477bff; /* Gør farven blå ved hover */
}


.footer p {
    line-height: 1.6; /* Gør teksten lettere at læse */
    margin-top: 1rem; /* Ekstra mellemrum mellem overskrift og tekst */
}

/* Til header */


.homepage_picture {
    background-size: cover;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.site_picture {
    width: 30%;
    border-radius: 10px;

}

.text-content {
    line-height: 1.6;
    max-width: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;

}

button {
    background-color: #477bff;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
}

button:hover {
    background-color: #00a3ff;
    color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
