.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.links {
    position: absolute;
    top: 0;
    right: 0;
}

.form-container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 400px;
    padding: 8px;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #357ae8;
}
