.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.links {
    position: absolute;
    top: 0;
    right: 0;
}

.form-container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


