/* Til header */
header {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header .nav-link {
    color: white;
}

header .nav-link:hover {
    color: #4d8efd;
}


/* Til billeder */
.picture {
    border-radius: 10px;
}

/* Til tekst */
div .lead {
    line-height: 1.6;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.10rem;
}


/* Til footer */
footer {
    background-color: black; /* Ændrer baggrundsfarven */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer .text-body-secondary {
    color: white !important;
}

/* Til content på siden */
.page_picture {
    background-size: cover;
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.container-center {
    align-items: center;
    text-align: center;

}


.h1 {
    font-family: 'Roboto', sans-serif;
}

video {
    width: 60%;
    height: auto;
}



.text-content {
    line-height: 1.6;
    max-width: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;

}

.button {
    background-color: #477bff;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

.button:hover{
    background-color: #00a3ff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
