{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<main class="container py-5 text-center">

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">TSLA</td>
                    <td class="text-end">10</td>
                    <td class="text-end">$210.74</td>
                    <td class="text-end">2024-12-27 13:02:26</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        </main>
{% endblock %}
